.state_0{
	fill: rgb(141, 211, 199);
}

.state_1{
	fill: rgb( 255, 255, 179);
}

.state_2{
	fill: rgb( 190, 186, 218);
}

.state_3{
	fill: rgb( 251, 128, 114);
}

.state_4{
	fill: rgb( 128, 177, 211);
}

.state_5{
	fill: rgb( 253, 180, 98);
}

.state_6{
	fill: rgb( 179, 222, 105);
}

.state_7{
	fill: rgb( 252, 205, 229);
}

.state_8{
	fill: rgb( 217, 217, 217);
}

.state_9{
	fill: rgb( 188, 128, 189);
}

.state_10{
	fill: rgb( 204, 235, 197);
}

.state_11{
	fill: rgb( 255, 237, 111);
}

